body {
    background-color: rgb(45, 45, 45);}

        .row{
            margin-top:40px;
        }
        .left-column{
            float:left;
            width:30%;
            margin-left:30px;
        }
        .center-column{
            width:30%;
            margin:auto;
        }
        .right-column{
            float:right;
            width:30%;
            margin:auto;
        }
        .image-container{
            display: table-cell;
            vertical-align: middle;
            margin: auto;
        }

